/* RESPONSIVE START */

@media (max-width: 1400px) {
    /* XL */
    .main-navbar-top-actions a span{
        display: none;
    }
    
}   

@media (max-width: 1200px) {
    /* LG */
    .main-navbar-bottom .top-categories{
        overflow-y: scroll;
        white-space:nowrap;
    }
    .catalogue-section .container .catalogue-aside{
        width: 300px;
        height: 100vh;
        position: fixed;
        overflow: scroll;
        z-index: 999999;
        top: 0;
        left: -11px;
        background-color: #fff;
    }
    .single-product-section .container .row aside{
        position: fixed;
        width: 100%;
        background-color: #fff;
        /* padding: 30px; */
        padding-top: 10px;
        left: 0;
        bottom: 0;
    }
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
}

@media (max-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    
}

@media (max-width:980px) {
    
}

@media (max-width:768px) {
    /* MD  */
    .catalogue-section .container .catalogue-main .cm-articles .article .article-cont .a-side{
        width: 100%;
        /* height: 100px; */
    }
    .single-product-section .container .row .product-details .display-images .di-left{
        width: 100%;
        height: 20%;
        margin-top: 10px;
        display: flex;
    }
    .single-product-section .container .row .product-details .display-images .di-left img{
        height: 90%;
        min-width: 100px;
        margin-right:  10px ;

    }
    .single-product-section .container .row .product-details .display-images .di-right{
        width: 100%;
        height: 80%;
    }
    .catalogue-aside{
        z-index: 9999999;
    }
}

@media (max-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    
}

@media (max-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    
}

@media (max-width:500px) {
    /* smartphones, Android phones, landscape iPhone */
    .hero-section .hero-section-container .hero-carroussel-container{
        width: 100%;
    }
    .hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card p{
        font-size: 24px;
        font-weight: 700;
        color: #fff;
    }

    footer .footer-top{
        text-align: center;
    }
    footer .ft-card  .ft-contact-left{
        top: -10px;
        left: 40px;
    }
    footer .container p{
        font-size: 12px;
    }
    footer .footer-bottom-cont{
        font-size: 8px;
    }
}

@media (max-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
/* RESPONSIVE END */