/* RESPONSIVE START */

@media (max-width: 1400px) {
    /* XL */
    .main-navbar-top-actions a span{
        display: none;
        
    }
    
    .main-navbar-top .main-navbar-top-actions a{
        padding: 8px 12px;
    }
}   

@media (max-width: 1200px) {
    /* LG */
    .main-navbar-bottom .top-categories{
        overflow-y: scroll;
        white-space:nowrap;
    }
    
    .nav-closer div{
        z-index: 55;
    }
    /* .ps-grid-card .ps-grid-card-bottom .article-btns a i{
        margin: 0 5px ;
    } */
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
}

@media (max-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    
}

@media (max-width:980px) {
    .main-profile .card-body .row span{
        padding: 10px 0;
    }
}

@media (max-width:768px) {
    /* MD  */
    .catalogue-section .container .catalogue-main .cm-articles .article .article-cont .a-side{
        width: 100%;
    }
    .single-product-section .container .row .product-details .display-images .di-left{
        width: 100%;
        height: 20%;
        margin-top: 10px;
        display: flex;
    }
    .single-product-section .container .row .product-details .display-images .di-left img{
        height: 90%;
        min-width: 100px;
        margin-right:  10px ;

    }
    .single-product-section .container .row .product-details .display-images .di-right{
        width: 100%;
        height: 80%;
    }
    .catalogue-aside{
        z-index: 9999999;
    }
    
}

@media (max-width:768px) {
    .spacer{
        height: 132px;
    } 
}

@media (max-width:994px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .single-product-section .container .row aside{
        position: fixed;
        max-height: 400px;
        width: 100%;
        z-index: 58;
        background-color: #fff;
        padding-top: 10px;
        left: 0;
        bottom: 0;
    }
}

@media (max-width:550px) {
    /* smartphones, Android phones, landscape iPhone */
    .hero-section .hero-section-container .hero-carroussel-container{
        width: 100%;
    }
    .hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card p{
        font-size: 24px;
        font-weight: 700;
    }

    footer .footer-top{
        text-align: center;
    }
    footer .ft-card  .ft-contact-left{
        top: -10px;
        left: 40px;
    }
    footer .container p{
        font-size: 12px;
    }
    footer .footer-bottom-cont{
        font-size: 8px;
    }
    .ps-grid-card .ps-grid-card-bottom p{
        font-size: 13px;
    }
   
    .ps-grid-card .ps-grid-card-bottom .article-infos span{
        font-size: 10px;
    }

    .ps-grid-card .ps-grid-card-bottom h5{
        font-size: 18px;
    }
    .ps-grid-card .ps-grid-card-bottom .article-infos{
        margin-bottom: 15px ;
    }
    .ps-grid-card .ps-grid-card-bottom .article-infos span{
        font-size: 14px;
    }
    .ess-carroussel-card-left img{
        max-width: 150px;
        padding-top: 10px;
    }
    .ess-carroussel-card-cont-cont,
    .ts-grid-card-cont{
        max-width: 180px;
    }
    .ts-grid-card-cont  img{
        max-height: 150px;
    }
    .single-product-aside{
        height: auto;
    }
    .form-section .card{
        width: 95%;
    }
    .form-section .img-cont img{
        width: 150px;
        margin: 10px 0;
    }
    .profile-section aside{
        display: none;
        position: absolute;
        z-index: 99;
        min-height: 100vh;
    }
    .catalogue-section .container .catalogue-aside{
        min-height: 100vh;
        display: none;
        width: 275px;
        height: 100vh;
        position: fixed;
        overflow-y: scroll;
        z-index: 9999;
        top: 0;
        left: -11px;
        background-color: #fff;
    }
    .ps-grid-card .ps-grid-card-bottom .article-btns a span{
        font-size: 10px;
        font-weight: bold;
    }
    .ps-grid-card .ps-grid-card-bottom .article-btns a i{
        margin: 0 2.5px ;
    }
    .shop-section .ss-bottom img{
        width: 150px;
        height: 150px;
        margin-bottom: -50px;
    }
}

@media (max-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
/* RESPONSIVE END */