/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* VARIABLES */

:root {
    --main-blue: #3670DC;
    --background-blue:#E7F2FF;
    --background-gray: #F5F7FA;
}

/*  GENERAL STYLING START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-blue);
}

.exclusives-shops-section  .slick-list,
.products-related-carroussel .slick-list{
    padding: 0 20% 0 0 !important ;
}

.blue-bar{
    margin-top: -25px ;
}

/*  GENERAL STYLING END */

/* NAVBAR STYLING START */
.main-navbar{
    background-color: #fff;
    position: fixed;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-navbar .mobile-search{
    padding: 12px;
    background-color: var(--main-blue);
}

.main-navbar .mobile-search form{
    justify-content: space-between;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    padding: 0 20px;
}
.main-navbar .mobile-search form input{
    border:none;
    width: 80%;
}
.main-navbar-top nav .brands h4{
    font-weight: 700;
    font-size: 20px;
}
.main-navbar-top nav form{
    height: 45px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    overflow: hidden;
}
.main-navbar-top nav form input{
    width: 100%;
    border: none;
    padding: 10px 20px;
}
.main-navbar-top nav form button{
    background-color: #fff;
    border-radius: 0;
}
.main-navbar-top nav form button i{
    color: var(--main-blue);
}
.main-navbar-top nav .fa-action{
    font-size: 20px;
}
.main-navbar-top .main-navbar-top-actions .btn .heart-number{
    width: 12px;
    height: 12px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 700;
    top: 22px;
    right: 12px;
}
.main-navbar-top .main-navbar-top-actions a{
    background-color: var(--main-blue);
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 15px;
}
.main-navbar-top .main-navbar-top-actions .main-navbar-top .country-select select{
    border: none;
    outline: none;
}
.main-navbar-bottom {
    margin-top: -6px;
}
.main-navbar-bottom .form form select{
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px; 
    padding-right: 40px;
    font-size: 12px;  
    appearance: none;
    background: url(../images/utils/chevron-down.svg) no-repeat 95% center;
}
.main-navbar-bottom .top-categories span{
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    margin-right: -27px;
}
.main-navbar-bottom .top-categories div ul{
    list-style-type: none;
}
.main-navbar-bottom .top-categories div ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    margin-right:10px;
    font-size: 14px;
}
.main-navbar-bottom .shop-btn{
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
    border-radius: 25px;
    padding: 10px 20px; 
    font-size: 12px;  
}
/* NAVBAR STYLING END */
.spacer{
    height: 124px;
}
.nav-closer div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.497);
    backdrop-filter: blur(3px);
    bottom: 0;
    left: 0;
    z-index: 55;
}
/* HERO SECTION STYLING START  */
.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/backgrounds/hero-bg.png');
    background-size: cover;
    height: 380px;
}
.hero-section .hero-section-container .button-arrow a{
    background-color: #D9D9D9;
    color: #000;
}
.hero-section .hero-section-container .button-arrow a i{
    padding: 20px;
}
.hero-section .hero-section-container .hero-carroussel-container{
    width: 80%;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card{
    width: 100%;
    color: #fff;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card h3{
    font-weight: 700;
    color: var(--main-blue);
    font-size: 16px;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card p{
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card a{
    background-color: var(--main-blue);
    font-weight: 700;
    color: #fff;
    padding: 10px 30px;
}

/* HERO SECTION STYLING END  */

/* EXCLUSIVE SHOPS STYLING START */

.exclusives-shops-section .ess-top h2,
.categories-section .cs-top h2,
.products-section .ps-top h2,
.top-sellers-section .ts-top h2{
    font-weight: 700;
    font-size: 24px;
}

.exclusives-shops-section .ess-top .ess-top-right a{
    background-color: var(--main-blue);
    color: #fff;
    border-radius: 4px;
}

.exclusives-shops-section .ess-top .ess-top-right a i{
    padding: 6px;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card-cont-cont{
    padding: 0 5px;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card-cont,
.top-sellers-section .ts-grid-container .ts-grid-card-cont{
    min-height: 150px;
    border: 1px #D9D9D9 solid;
    border-radius: 7px;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card{
    width: 95%;
    height: 90%;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-left img,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 7px;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right h6,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-right h6{
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
}
.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right .fa-phone-flip,
.ts-grid-card-right .contacts-btns .fa-phone-flip {
    color: var(--main-blue);
}
.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right .fa-whatsapp,
.ts-grid-card-right .contacts-btns .fa-whatsapp{
    color: #00e676;
}
.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right .contacts-btns a,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-right .contacts-btns a{
    color: #000;
    text-decoration: none;
}
.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right .contacts-btns span,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-right .contacts-btns span{
    font-size: 10px;
    font-weight: 600;
}
/* EXCLUSIVE SHOPS STYLING END */


/* CATEGORIES STYLING START */

.categories-section .cs-grid-container .cs-card{
    height: 145px;
    background-color: var(--background-blue);
    transition: all 0.3s ease-in-out;
}
.categories-section .cs-grid-container .cs-card:hover{
    background-color: var(--background-gray);
}
.categories-section .cs-grid-container .cs-card p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}
.categories-section .cs-grid-container .cs-card span{
    font-weight: 600;
    font-size: 12px;
    color: #B8B8B8;
}

/* CATEGORIES STYLING END */


/* PRODUCTS SECTION START  */

.ps-grid-card{
    border: 1px #D9D9D9 solid;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}
.ps-grid-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ps-grid-card .ps-grid-card-top .annonce-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    overflow: hidden;
}

.ps-grid-card .ps-grid-card-top a{
    top: 5px;
    right: 5px;
}

.ps-grid-card .ps-grid-card-bottom h5{
    font-weight: 800;
    font-size: 25px;
    color: var(--main-blue);
}
.ps-grid-card .ps-grid-card-bottom p{
    font-weight: 600;
    font-size: 13px;
}
.ps-grid-card .ps-grid-card-bottom .article-infos{
    margin: 10px 0;
}
.ps-grid-card .ps-grid-card-bottom .article-infos .loc-info{
    margin-bottom: 13px;
}
.ps-grid-card .ps-grid-card-bottom .article-infos *{
    color: #000;
}
.ps-grid-card .ps-grid-card-bottom .article-infos .loc-info i,
.ps-grid-card .ps-grid-card-bottom .article-infos .usr-info i{
    color: var(--main-blue);
}
.ps-grid-card .ps-grid-card-bottom .article-infos .loc-info span,
.ps-grid-card .ps-grid-card-bottom .article-infos .usr-info span{
    font-size: 12px;
    font-weight: bold;
}
.ps-grid-card .ps-grid-card-bottom .article-btns img{
    padding: 7px;
    background-color: #F5F5F5;
    border-radius: 7px;
}
.ps-grid-card .ps-grid-card-bottom .article-btns a i{
    margin: 0 7px ;
}

/* PRODUCTS SECTION END  */

/* SECTION PUB BANNER STYLING START */

.pub-banner-section{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SECTION PUB BANNER STYLING END */

/* SECTION NEWS STYLING START */

.news-section{
    background-color: var(--background-gray);
}

.news-section .ns-top-right a {
    color: #000;
}
.news-section .ns-top-right a span{
    font-weight: 600;
    font-size: 24px;
    margin-right: 10px;
}
.news-section .ns-top-right a i{
    width: 32px;
    color: var(--main-blue);
}

/* SECTION NEWS STYLING START */


/* FOOTER STYLING START  */
footer{
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    z-index: 55 !important;
}
footer .footer-top{
    min-height: 400px;
}

footer .ft-top{
    height: 40px;
}

footer .ft-top h6{
    font-weight: 700;
    font-size: 16px;
}

footer h5{
    font-weight: 800;
    font-size: 20px;
}

footer .ft-card{
    margin-bottom: 20px;
}

footer .ft-card ul {
    list-style-type: none;
    padding: 0;
}

footer .ft-card ul li{
    margin: 10px 0;
}

footer .ft-card ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

footer .ft-card  .ft-contact-left{
    left: -50px;
    top: -15px;
}

footer .container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

footer .container p a {
    font-weight: 700;
    text-decoration: none;
}

footer .footer-bottom{
    height: 30px;
    width: 100vw;
    background-color: var(--main-blue);
    color: #fff;
}
/* FOOTER STYLING END  */


/* CATALOGUE SECTION STYLING START */
.catalogue-section{
    background-color: var(--background-gray);
}

.catalogue-section .container .aside-single{
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 7px;
}

.catalogue-section .container .aside-single h3{
    font-weight: 700;
    font-size: 15px;
}
.catalogue-section .container .aside-single .ac-bottom ul{
    list-style-type: none;
    padding: 0;
}
.catalogue-section .container .aside-single .ac-bottom ul li{
    margin: 15px 0;
}
.catalogue-section .container .aside-single .ac-bottom ul li a{
    color: #000;
    text-decoration: none;
    transition: color ease-in-out .3s;
}
.catalogue-section .container .aside-single .ac-bottom ul li a:hover{
    color: var(--main-blue);
}

.catalogue-section aside{
    margin-right: 15px;
}

.cm-filter-cont{
    background-color: #fff;
    border-radius: 7px;
}

.cm-filter-cont h2{
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}
.catalogue-section .container .catalogue-main .cm-articles .article{
    min-height: 220px;
    background: #fff;
    border-radius: 7px;
    margin-bottom: 10px;
}

.catalogue-section .container .catalogue-main .cm-articles .article .article-cont{
    width: 98%;
    /* height: 90%; */
    min-height: 200px;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-left{
    width: 30%;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-middle{
    width: 40%;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-middle h4{
    font-weight: 700;
    font-size: 14px;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-middle ul{
    padding: 0;
    list-style-type: none;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-middle ul li i{
    color: var(--main-blue);
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-middle ul li span{
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-middle p{
    max-height: 95px;
    padding-right: 5px;
    overflow-y: scroll;
    font-weight: 400;
    font-size: 15px;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-right{
    width: 30%;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-right h5{
    color: var(--main-blue);
    font-weight: 800;
    font-size: 20px;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-right .btn-heart{
    background-color: var(--background-gray);
    color: var(--main-blue);
    width: 100%;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-right a span{
    margin-left: 10px;
}
/* CATALOGUE SECTION STYLING END */

/* BREADCRUMB STYLING START  */
.breadcrumb {
    margin: 0;
    height: 80px;
    background-color: var(--main-blue);
    color: #fff;
}
.breadcrumb .container h1{
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}
.breadcrumb .container p{
    margin: 0;
}
.breadcrumb .container p a{
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out .3s;
}
.breadcrumb .container p a:hover{
    color: #000;
}

/* BREADCRUMB STYLING END */

/* SHOP SECTION STYLING START  */
.shop-section{
    background-color: var(--background-gray);
}
.shop-section .ss-top{
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.shop-section .ss-bottom{
    margin-top: -80px;
}
.shop-section .ss-bottom .infos{
    margin-top: 70px;
}
.shop-section .ss-bottom .infos p i{
    color: var(--main-blue);
    margin-right: 10px;
}
.shop-section .ss-bottom .infos p span{
    font-weight: 400;
    font-size: 20px;
}
.shop-section .ss-main .ss-grid-products-cont .ss-grid-products h3{
    font-weight: 700;
    font-size: 24px;
}
.shop-section .ss-main nav a{
    color: #000;
    text-decoration: none;
}
.shop-section .ss-main nav{
    background-color: #fff;
    border-radius: 7px;
}
.shop-section .ss-main nav ul{
    list-style-type: none;
    padding: 0;
}
.shop-section .ss-main aside h4{
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}
.shop-section .ss-main aside p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
.shop-section .ss-main aside .aside-cont{
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
}
.shop-section .ss-main aside .d-flex a{
    /* margin: 10px; */
    width: 40px;
    margin-right: 10px;
    border-radius: 25px;
}
.shop-section .ss-main aside .d-flex .fb{
    background-color: #4867AA;
}
.shop-section .ss-main aside .d-flex .tw{
    background-color: #3E9FDE;
}
.shop-section .ss-main aside .wh{
    background-color: #06d370;
    border: #06d370;
}
.aside-btns-cont a i{
    color: #fff;
}
.aside-btns-cont .fa-user-plus{
    color: var(--main-blue);
}

.details-vendeur{
    background-color: #fff;
    z-index: 99;
    width: 100vw;
    bottom: 0;
    left: 0;

}
.details-vendeur .container h3{
    font-size: 17px;
}
.details-vendeur .d-flex .avatar-cont{
    width: 50px;
}
.details-vendeur .container ul{
    padding: 0;
    list-style-type: none;
}
.details-vendeur .container ul li i {
    color: var(--main-blue);
    margin-right: 10px;
}
/* SHOP SECTION STYLING START  */

/* SINGLE PRODUCT SECTION STYLING START  */
.single-product-section{
    background-color: var(--background-gray);
}
.single-product-aside{
    
    right: 60px;
    height: 70vh;
    overflow: scroll;
}
.single-product-section .container .row .product-details{
    background-color: #fff;
}
.single-product-section .container .row .product-details .display-images{
    height: 510px;
}
.single-product-section .container .row .product-details .display-images .di-left{
    height: 100%;
    width: 20%;
    padding-right: 10px;
    overflow-x: scroll;
}
.single-product-section .container .row .product-details .display-images .di-left img{
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}
.single-product-section .container .row .product-details .display-images .di-right{
    height: 100%;
    width: 80%;
}
.single-product-section .container .row .product-details .display-images .di-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.single-product-section .container .row .product-details .product-details-infos .price-mobile{
    font-weight: 700;
    color: var(--main-blue);
}
.single-product-section .container .row .product-details .product-details-infos ul{
    list-style-type: none;
    padding: 0;
}
.single-product-section .container .row .product-details .product-details-infos ul li{
    margin: 0 10px;
}
.single-product-section .container .row .product-details .product-details-infos ul li i{
    color: var(--main-blue);
}
.single-product-section .container .row .product-details .product-details-infos ul li span{
    font-weight: 600;
    font-size: 14px;
}
.single-product-section .container .row .product-details .product-details-infos ul li a{
    color: #000;
    text-decoration: none;
    transition: all ease-in-out .3s;
}
.single-product-section .container .row .product-details .product-details-infos ul li a:hover{
    color: var(--main-blue);
}
.single-product-section .container .row .product-details .product-details-infos p{
    font-weight: 400;
    font-size: 12px;
}
.single-product-section .container .row aside{
    z-index: 15;
}
.single-product-section .container .row aside .aside-cont{
    max-width: 450px;
}
.single-product-section .container .row aside .aside-cont h2{
    background-color: var(--main-blue);
    /* width: 100%; */
    padding:  10px 0;
    border-radius: 7px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}
.single-product-section .container .row aside .aside-cont  .aside-shop-infos{
    background-color: #fff;
    border-radius: 7px;
}
.single-product-section .container .row aside .aside-cont  .aside-shop-infos h6,
.single-product-section .container .row aside .aside-cont  .aside-shop-infos h5{
    font-weight: 700;
    font-size: 18px;
}
.single-product-section .container .row aside .aside-cont  .aside-shop-infos .img-thumbnail{
    max-width: 55px;
}
.single-product-section .container .row aside .aside-cont  .aside-shop-infos ul{
    padding: 0;
    list-style-type: none;
}
.single-product-section .container .row aside .aside-cont  .aside-shop-infos ul i{
    color: var(--main-blue);
}
.single-product-section .container .row aside .aside-cont  .aside-shop-infos ul li a{
    text-decoration: none;
    color: #000;
    transition: all .3s ease-in-out;
}
.single-product-section .container .row aside .aside-cont  .aside-shop-infos ul li a:hover{
    color: var(--main-blue);
}
.aside-poster{
    border-radius: 7px;
    overflow: hidden;
}
.aside-poster img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.localisation,.related-products{
    background-color: #fff;
    border-radius: 7px;
}
.localisation h6,.related-products h6{
    color: #666666;
    font-weight: 600;
    font-size: 20px;
}
.related-products .btns a{
    background-color: var(--main-blue);
    border-radius: 4px;
}
.related-products .btns a i{ 
    padding:  6px;
}
/* SINGLE PRODUCT SECTION STYLING START  */

/* FORM SECTION  STYLING START  */
.form-section{
    min-height: 75vh;
    background-color: var(--background-gray);
}

.form-section .img-cont img{
    max-height: 250px;
}
.form-section .card{
    width: 600px;
}
.form-section .card .card-header,
.main-profile .card-header{
    background-color: var(--main-blue);
    color: #fff;
    font-weight: 700;
}
.form-section .card .card-body button{
    background-color: var(--main-blue);
}
.form-section .card .card-body .bottom-form a{
    text-decoration: none;
}

/* FORM SECTION  STYLING END  */

/* PROFILE SECTION  STYLING START  */
.profile-section aside{
    background-color: var(--background-gray);
}
.profile-section aside ul{
    list-style: none;
}
.profile-section aside ul li a{
    width: 100%;
    display: flex;
    align-items: center;
}
.profile-section aside ul li a i{
    color: var(--main-blue);
}
.profile-section aside ul li .btn-primary i{
    color: #fff;
}
.profile-section aside ul li a span{
    margin-left: 12px;
}
.profile-section aside ul label{
    color: #666666;
    font-size: 15px;
}
.profile-section .main-profile .avatar-cont img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    object-fit:cover;
}
/* PROFILE SECTION  STYLING END  */


/* PUBLISH SECTION  STYLING START  */

.profile-section .main-profile form .display-images .d-flex{
    padding-bottom: 20px;
}
.profile-section .main-profile form .display-images .d-flex img{
    cursor:pointer;
    width: 150px;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 7px;
    margin-right: 20px;
}
.profile-section .main-profile form .display-images .d-flex img.primary{
    border: 6px solid var(--main-blue);
}

/* PUBLISH SECTION  STYLING END  */

/* SUBSCRIPTION SECTION STYLING START  */
.main-profile .stat-card{
    max-width: 550px;
    margin: 0 auto;
}
.main-profile .subscription .card .card-header{
    background-color: var(--main-blue);
    color: #fff;
}

.main-profile .card-body .cbi-divider{
    border-right: #000 1px solid;
}

.main-profile .card-body .card-body-infos{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin:0  20px ;
    padding:  20px ;
}

.main-profile .card-body #placeholder-cover-picture,
.main-profile .card-body #placeholder-profile-picture{
    max-height: 200px;
    border-radius: 7px;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
}

.dash-product-card .dash-product-card-top img{
    width: 100% !important;
    border-radius: 7px;
    max-height: 200px;
    overflow: hidden;
    object-fit: cover;
}
.dash-product-card .dash-product-card-top .delete-button{
    top: 5px;
    right: 5px;
}
.dash-product-card .dash-product-card-top .delete-button a i {
    color: rgb(244, 0, 0);
}
.dash-product-card .dash-product-card-top .edit-button{
    top: 5px;
    left: 5px;
}
.dash-product-card .dash-product-card-top .edit-button a i{
    color: var(--main-blue);
}
.dash-product-card{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 7px;
    padding: 5px;
}
.dash-product-card .dash-product-card-bottom h5{
    margin-top: 5px;
    color: var(--main-blue);
    font-weight: 700;
}

.dash-product-card .dash-product-card-bottom .product-name{
    font-size: 14px;
}
.dash-product-card .dash-product-card-bottom .viewed-time{
    color: #666666;
}

/* SUBSCRIPTION SECTION STYLING END  */