/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* VARIABLES */

:root {
    --main-blue: #3670DC;
    --background-blue:#E7F2FF;
    --background-gray: #F5F7FA;
}

/*  GENERAL STYLING START */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

/*  GENERAL STYLING END */

/* NAVBAR STYLING START */
.main-navbar{
    min-height: 165px;
    background-color: #fff;
    position: fixed;
    z-index: 99999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-navbar .mobile-search{
    padding: 12px;
    background-color: var(--main-blue);
}

.main-navbar .mobile-search form{
    justify-content: space-between;
    background-color: #fff;
    border-radius: 50px;
    overflow: hidden;
    padding: 0 20px;
}
.main-navbar .mobile-search form input{
    border:none;
    width: 80%;
}


.main-navbar-top nav .brands h4{
    font-weight: 700;
}

.main-navbar-top nav form{
    /* width: 625px; */
    height: 45px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
    overflow: hidden;
}
.main-navbar-top nav form input{
    width: 100%;
    border: none;
    padding: 10px 20px;
}
.main-navbar-top nav form button{
    background-color: #fff;
    border-radius: 0;
}
.main-navbar-top nav form button i{
    color: var(--main-blue);
}
.main-navbar-top .main-navbar-top-actions .btn .heart-number{
    width: 12px;
    height: 12px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    font-size: 9px;
    font-weight: 700;
    top: 22px;
    right: 12px;
}
.main-navbar-top .main-navbar-top-actions a{
    background-color: var(--main-blue);
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 15px;
}
.main-navbar-top .main-navbar-top-actions .main-navbar-top .country-select select{
    border: none;
    outline: none;
}
.main-navbar-bottom {
    margin-top: -6px;
}
.main-navbar-bottom .form form select{
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px; 
    padding-right: 40px;
    font-size: 12px;  
    appearance: none;
    background: url(../images/utils/chevron-down.svg) no-repeat 95% center;
}
.main-navbar-bottom .top-categories span{
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    margin-right: -27px;
}
.main-navbar-bottom .top-categories div ul{
    list-style-type: none;
}
.main-navbar-bottom .top-categories div ul li a{
    color: #000;
    text-decoration: none;
    font-weight: 400;
    margin-right:10px;
    font-size: 14px;
}
.main-navbar-bottom .shop-btn{
    color: var(--main-blue);
    border: 2px solid var(--main-blue);
    border-radius: 25px;
    padding: 10px 20px; 
    font-size: 12px;  
}
/* NAVBAR STYLING END */
.spacer{
    height: 165px;
}
/* HERO SECTION STYLING START  */
.hero-section{
    background: url(../images/backgrounds/hero-bg.png) no-repeat;
    background-size: cover;
    height: 380px;
}
.hero-section .hero-section-container .button-arrow a{
    background-color: #D9D9D9;
    color: #000;
}
.hero-section .hero-section-container .button-arrow a i{
    padding: 20px;
}
.hero-section .hero-section-container .hero-carroussel-container{
    width: 80%;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card{
    width: 100%;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card h3{
    font-weight: 700;
    font-size: 16px;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card p{
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
}
.hero-section .hero-section-container .hero-carroussel-container .hero-carroussel-card a{
    background-color: var(--main-blue);
    font-weight: 700;
    color: #fff;
    padding: 10px 30px;
}

/* HERO SECTION STYLING END  */

/* EXCLUSIVE SHOPS STYLING START */

.exclusives-shops-section .ess-top h2,
.categories-section .cs-top h2,
.products-section .ps-top h2,
.top-sellers-section .ts-top h2{
    font-weight: 700;
    font-size: 24px;
}

.exclusives-shops-section .ess-top .ess-top-right a{
    background-color: var(--main-blue);
    color: #fff;
    border-radius: 4px;
}

.exclusives-shops-section .ess-top .ess-top-right a i{
    padding: 6px;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card-cont-cont{
    padding: 0 5px;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card-cont,
.top-sellers-section .ts-grid-container .ts-grid-card-cont{
    height: 180px;
    border: 1px #D9D9D9 solid;
    border-radius: 7px;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card{
    width: 95%;
    height: 90%;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-left,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-left{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right h6,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-right h6{
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
}
.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right .contacts-btns a,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-right .contacts-btns a{
    color: #000;
    text-decoration: none;
}
.exclusives-shops-section .ess-carroussel-container .ess-carroussel-card .ess-carroussel-card-right .contacts-btns span,
.top-sellers-section .ts-grid-container .ts-grid-card-cont .ts-grid-card .ts-grid-card-right .contacts-btns span{
    font-size: 10px;
    font-weight: 600;
}
/* EXCLUSIVE SHOPS STYLING END */


/* CATEGORIES STYLING START */

.categories-section .cs-grid-container .cs-card{
    height: 145px;
    background-color: var(--background-blue);
    transition: all 0.3s ease-in-out;
}
.categories-section .cs-grid-container .cs-card:hover{
    background-color: var(--background-gray);
}
.categories-section .cs-grid-container .cs-card p{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}
.categories-section .cs-grid-container .cs-card span{
    font-weight: 600;
    font-size: 12px;
    color: #B8B8B8;
}

/* CATEGORIES STYLING END */


/* PRODUCTS SECTION START  */

.ps-grid-container .ps-grid-card{
    height: 500px;
    border: 1px #D9D9D9 solid;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}
.ps-grid-container .ps-grid-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ps-grid-container .ps-grid-card .ps-grid-card-top{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ps-grid-container .ps-grid-card .ps-grid-card-top a{
    top: 5px;
    right: 5px;
}

.ps-grid-container .ps-grid-card .ps-grid-card-bottom h5{
    font-weight: 800;
    font-size: 25px;
    color: var(--main-blue);
}
.ps-grid-container .ps-grid-card .ps-grid-card-bottom p{
    font-weight: 600;
    font-size: 15px;
}
.ps-grid-container .ps-grid-card .ps-grid-card-bottom .article-infos *{
    color: #000;
}

.ps-grid-container .ps-grid-card .ps-grid-card-bottom .article-infos .loc-info{
    margin-top: -10px;
}

.ps-grid-container .ps-grid-card .ps-grid-card-bottom .article-infos .usr-info{
    margin-top: -15px;
}

.ps-grid-container .ps-grid-card .ps-grid-card-bottom .article-btns img{
    padding: 10px;
    background-color: #F5F5F5;
    border-radius: 7px;
}

/* PRODUCTS SECTION END  */

/* SECTION PUB BANNER STYLING START */

.pub-banner-section{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* SECTION PUB BANNER STYLING END */

/* SECTION NEWS STYLING START */

.news-section{
    background-color: var(--background-gray);
}

.news-section .ns-top-right a span{
    font-weight: 600;
    font-size: 24px;
}
.news-section .ns-top-right a i{
    width: 32px;
    color: var(--main-blue);
}

/* SECTION NEWS STYLING START */


/* FOOTER STYLING START  */
footer .footer-top{
    min-height: 400px;
}

footer .ft-top{
    height: 40px;
}

footer .ft-top h6{
    font-weight: 700;
    font-size: 16px;
}

footer h5{
    font-weight: 800;
    font-size: 20px;
}

footer .ft-card{
    margin-bottom: 20px;
}

footer .ft-card ul {
    list-style-type: none;
    padding: 0;
}

footer .ft-card ul li{
    margin: 10px 0;
}

footer .ft-card ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
}

footer .ft-card  .ft-contact-left{
    left: -50px;
    top: -15px;
}

footer .container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

footer .container p a {
    font-weight: 700;
    text-decoration: none;
}

footer .footer-bottom{
    height: 75px;
    background-color: var(--main-blue);
    color: #fff;
}
/* FOOTER STYLING END  */


/* CATALOGUE SECTION STYLING START */

.catalogue-section{
    background-color: var(--background-gray);
}

.catalogue-section .container .aside-single{
    background-color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 7px;
}

.catalogue-section .container .aside-single h3{
    font-weight: 700;
    font-size: 15px;
}
.catalogue-section .container .aside-single .ac-bottom ul{
    list-style-type: none;
    padding: 0;
}
.catalogue-section .container .aside-single .ac-bottom ul li{
    margin: 15px 0;
}
.catalogue-section .container .aside-single .ac-bottom ul li a{
    color: #000;
    text-decoration: none;
    transition: color ease-in-out .3s;
}
.catalogue-section .container .aside-single .ac-bottom ul li a:hover{
    color: var(--main-blue);
}

.cm-filter-cont{
    background-color: #fff;
    border-radius: 7px;
}

.cm-filter-cont h2{
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}
.catalogue-section .container .catalogue-main .cm-articles{
    background-color: rgb(205, 6, 6);
}
.catalogue-section .container .catalogue-main .cm-articles .article{
    min-height: 220px;
}

.catalogue-section .container .catalogue-main .cm-articles .article .article-cont{
    width: 98%;
    /* height: 90%; */
    min-height: 200px;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-left{
    width: 30%;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-middle{
    width: 40%;
}
.catalogue-section .container .catalogue-main .cm-articles .article .article-cont .article-right{
    width: 30%;
}
/* CATALOGUE SECTION STYLING END */

/* BREADCRUMB STYLING START  */
.breadcrumb {
    margin: 0;
    height: 150px;
    background-color: var(--main-blue);
    color: #fff;
}
.breadcrumb .container h1{
    font-weight: 700;
    font-size: 34px;
}
.breadcrumb .container p a{
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out .3s;
}
.breadcrumb .container p a:hover{
    color: #000;
}

/* BREADCRUMB STYLING END */

/* SHOP SECTION STYLING START  */
.shop-section{
    background-color: var(--background-gray);
}
.shop-section .ss-top{
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.shop-section .ss-bottom{
    margin-top: -80px;
}
.shop-section .ss-bottom .infos{
    margin-top: 70px;
}
.shop-section .ss-bottom .infos p i{
    color: var(--main-blue);
    margin-right: 10px;
}
.shop-section .ss-bottom .infos p span{
    font-weight: 400;
    font-size: 20px;
}
.shop-section .ss-main .ss-grid-products-cont .ss-grid-products h3{
    font-weight: 700;
    font-size: 24px;
}
.shop-section .ss-main nav a{
    color: #000;
    text-decoration: none;
}
.shop-section .ss-main nav{
    background-color: #fff;
    border-radius: 7px;
}
.shop-section .ss-main nav ul{
    list-style-type: none;
    padding: 0;
}
.shop-section .ss-main aside h4{
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}
.shop-section .ss-main aside p{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}
.shop-section .ss-main aside .aside-cont{
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
}
.shop-section .ss-main aside .d-flex a{
    /* margin: 10px; */
    width: 40px;
    margin-right: 10px;
    border-radius: 25px;
}
.shop-section .ss-main aside .d-flex .fb{
    background-color: #4867AA;
}
.shop-section .ss-main aside .d-flex .tw{
    background-color: #3E9FDE;
}
.shop-section .ss-main aside .wh{
    background-color: #06d370;
    border: #06d370;
}
/* SHOP SECTION STYLING START  */

/* SINGLE PRODUCT SECTION STYLING START  */
.single-product-section{
    background-color: var(--background-gray);
}


/* SINGLE PRODUCT SECTION STYLING START  */